# Eclipse
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.classpath

# Java
*.class
*.war
*.ear
*.jar
*.rbc
*.jad
*.log
*.idx
*.gz
hs_err_pid*

# Windows
Thumbs.db
.DS_Store
ehthumbs.db

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Others
*.log
*.tmp
*.bak
*.swp
*~.nib
