<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/08-Assignments_control_structure/src/com/control/structure/test/CurrencyDenominationApp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.control.structure.test.CurrencyDenominationApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="08-Assignments_control_structure"/>
</launchConfiguration>
